#onLoad {
  height: 100vh;
  width: 100%;
  top: 0;
  position: fixed;
  overflow: hidden;
  background-color: transparent;
  pointer-events: none;
  z-index: 100;
  div {
    position: absolute;
    z-index: 1000;
    background-color: #1e1e1e;
    width: 20%;
    height: 100vh;
    transition: 0.4s all ease;
    &:nth-child(1) {
      transition-delay: 0.6s;
    }
    &:nth-child(2) {
      margin-left: 20%;
      transition-delay: 0.3s;
    }
    &:nth-child(3) {
      margin-left: 40%;
    }
    &:nth-child(4) {
      margin-left: 60%;
      transition-delay: 0.3s;
    }
    &:nth-child(5) {
      margin-left: 80%;
      transition-delay: 0.6s;
    }
  }
}

@media (max-width: 750px) {
  #onLoad {
  display: none;
    div {
      &:nth-child(1) {
        display: none;
      }
      &:nth-child(2) {
        margin-left: 0%;
        width: 33.33%;
      }
      &:nth-child(3) {
        margin-left: 33.33%;
        width: 33.33%;
      }
      &:nth-child(4) {
        margin-left: 66.66%;
        width: 33.33%;
      }
      &:nth-child(5) {
        display: none;
      }
    }
  }
}
